@media (max-width: 1100px) {
    html {
        font-size: 55%;
    }
    .navbar {
        padding: 2rem 2rem;
    }
    .logo {
        width: 12rem;
    }
    .hero-img-box {
        display: flex;
        justify-content: center;
        height: auto;
    }
    .hero-img {
        height: 70%;
    }
    .section-about {
        padding-top: 0;
    }
    .gallery {
        width: 90%;
        align-items: center;
        gap: 1rem;
        height: auto;
    }
    .gallery-img-2 {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .gallery-img-5 {
        grid-row: 1/2;
        grid-column: 3/4;
    }
    .gallery-img-4,
    .gallery-img-6 {
        transform: none;
    }
}
@media (max-width: 900px) {
    .section {
        padding-top: 10rem;
    }
    .section-heading-box {
        width: 90%;
    }
    .navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 95%;
    }
    .logo-link {
        grid-column: 2/3;
        justify-self: center;
    }
    .btn-mobile-nav {
        display: block;
        grid-row: 1/2;
    }
    .icon-mobile-nav {
        display: block;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        /* gap: 12rem !important; */
        justify-content: space-between !important;
        background-color: var(--background-color);
        position: absolute;
        top: 10%;
        left: 0;
        width: 60%;
        height: 100vh;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        opacity: 0;
        pointer-events: none;
        z-index: 5;
        visibility: hidden;
    }
    .nav-links {
        justify-self: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }
    .nav-social-links-mobile{
        display: flex  !important;
        padding-bottom: 20rem;
    }
    .nav-social-links-mobile .nav-icon{
        width: 5rem;
        height: 5rem;
    }
    .nav-social-links {
        display: none;
    }
    .nav-open .navbar {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav-close{
        display: inline-block;
    }
    .btn-mobile-nav-close{
        align-self: flex-start;
    }
    .nav-open .icon-mobile-nav-open{
        display: none;
    }

    .hero-text-box {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .hero-img {
        height: 90%;
    }
    .contacts-box {
        gap: 1rem;
        justify-content: space-between;
    }
    .btn-contact {
        align-self: flex-start;
    }
    .about-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0 2rem;
    }
    .about-img-box {
        width: 95%;
        margin-left: 0;
    }
    .about-img {
        width: 95%;
    }
    .about-text-box {
        transform: none;
        width: 95%;
        margin: 0 auto;
    }
    .testimonials-box {
        grid-template-columns: 1fr;
    }
    .testimonial {
        width: 90%;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 9px;
    }
    .testimonial-text {
        transform: none;
        text-align: initial;
    }
    .testimonial-img {
        width: 70%;
        border: none;
        transform: none;
        justify-self: center;
    }
    .gallery {
        width: 90%;
    }
    .contacts-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
        column-gap: 0;
    }
    .contact {
        gap: 1rem;
    }
}
@media (max-width: 700px) {
    .hero-text-box {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .hero-img {
        position: absolute;
        height: 50%;
        opacity: 0.6;
        right: 0;
        z-index: -1;
    }
    .contacts-box {
        gap: 1rem;
        justify-content: space-between;
    }
}
@media (max-width: 600px) {
    .hero-img {
        height: 50%;
    }
}
@media (max-width: 500px) {
    .hero-img {
        height: 45%;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 50%;
    }
    .hero-img {
        height: 40%;
    }
    .nav-links {
        font-size: 2rem;
    }
    .nav-social-links-mobile .nav-icon{
        width: 3rem;
        height: 3rem;
    }
}
