* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: #1c1c1c;
    --color-primary: #129bf3;
    --heading-primary: #f9f9f9;
    --text-color: #e5e0d8;
}

html {
    font-size: 62.5%;
    background-color: var(--background-color);
    font-family: "Lato", sans-serif;
    color: var(--text-color);
}
.container {
    max-width: 120rem;
    margin: 0 auto;
}
.container--2 {
    max-width: 100rem;
    margin: 0 auto;
}
li {
    list-style: none;
}
.link:link {
    text-decoration: none;
}
.link-active {
    color: var(--color-primary) !important;
}
.grid {
    display: grid;
}
.grid--2--cols {
    grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
    grid-template-columns: repeat(3, 1fr);
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    padding: 1.8rem 4rem;
    font-size: 1.8rem;
    border-radius: 6px;
    transition: all .3s;
}
.section {
    padding-top: 18rem;
}
.section-heading-box {
    margin: 0 auto;
    padding-bottom: 4.8rem;
    max-width: 70rem;
    text-align: center;
}
.heading-primary {
    font-size: 3.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    padding-bottom: 1rem;
}
.heading-secondary {
    color: var(--color-primary);
    font-size: 2rem;
    letter-spacing: 1.9px;
    padding-bottom: 1rem;
}
.text-heading {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ///////////////////////////////////////////
-----------------HERO SECTION--------------
/////////////////////////////////////////////// */
.header {
    height: 90vh;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}
.logo {
    width: 16rem;
}
.nav-links,
.nav-social-links {
    display: flex;
    gap: 4rem;
    font-size: 1.8rem;
}
.nav-link {
    color: var(--text-color);
    letter-spacing: 4px;
    position: relative;
    transition: all .3s;
}
.nav-link:hover {
    color: var(--color-primary);
}
.nav-link::after {
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 0;
    background-color: var(--color-primary);
    transition: 0.3s;
}
.nav-link::after {
    left: 0;
    bottom: -1rem;
}

.nav-link:hover::after {
    width: 100%;
}
.nav-icon {
    width: 2.4rem;
    height: 2.4rem;
}
.menu{
    display: none;
    width: 3.8rem;
    height: 3.8rem;
}
.hero-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 3px;
    margin-top: 5rem;
    padding-bottom: 3rem;
}
.span-title {
    color: var(--color-primary);
}
.hero-text {
    padding-bottom: 3rem;
    font-size: 1.5rem;
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: 300;
}
.btn-contact {
    background-color: var(--color-primary);
}
.btn-contact:hover {
    background-color: #108cdb;
}

/* ///////////////////////////////////////////
-----------------ABOUT SECTION--------------
/////////////////////////////////////////////// */
.about-box {
    align-items: center;
    grid-template-columns: 2fr 1fr !important;
}
.about-img-box {
    margin-left: 5rem;
}
.about-img {
    width: 110%;
    border-radius: 11px;
}
.about-text-box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    border-radius: 9px;
    background-color: #e5e0d8a7;
    box-shadow: 10px 0px 25px 20px rgba(0, 0, 0, 0.6);
    transform: translateX(-15%);
    padding: 2rem;
}
.about-title {
    font-size: 3rem;
    color: #000;
}
.about-text {
    font-size: 1.6rem;
    color: #1c1c1c;
    letter-spacing: 1px;
    line-height: 1.3;
}

/* ///////////////////////////////////////////
-----------------WORK SECTION--------------
/////////////////////////////////////////////// */
.gallery {
    gap: 2rem;
    width: 60%;
    height: 86vh;
}
.gallery-img {
    width: 100%;
    transition: all 0.3s;
}
.gallery-img-4,
.gallery-img-6 {
    transform: translateY(-50%);
    height: calc(100% - 2rem);
}

/* ///////////////////////////////////////////
-----------------TESTIMONIAL SECTION--------------
/////////////////////////////////////////////// */
.testimonials-box{
    margin-top: 4rem;
    gap: 10rem;
}
.testimonial{
    background-color: #e5e0d8a7;
    box-shadow: 10px 0px 25px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    transition: all .3s;
}
.testimonial:hover{
    transform: scale(1.05);
}
.testimonial-img{
    width: 30%;
    border: 3px solid var(--background-color);
    border-radius: 50%;
    transform: translateY(-70%);
}
.testimonial-text{
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: center;
    color: #1c1c1c;
    transform: translateY(-25%);
}
.testimonial-author{
    color: #1c1c1c;
    font-size: 1.4rem;
}

/* ///////////////////////////////////////////
-----------------CONTACT SECTION--------------
/////////////////////////////////////////////// */
/* .section-contact{
} */
.contacts-box{
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.contact-link-logo{
    color: var(--text-color);
}
.contact-logo{
    width: 6rem;
    height: 6rem;
}
.contact-link{
    text-decoration: none;
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);
}

/* ///////////////////////////////////////////
-----------------FOOTER SECTION--------------
/////////////////////////////////////////////// */
.footer{
    margin-top: 4rem;
    padding: 1rem ;
}
.footer-text{
    font-size: 1.4rem;
    text-align: center;
}