* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
#6b6a69
*/

:root {
    --background-color: #1c1c1c;
    --color-primary: #129bf3;
    --heading-primary: #f9f9f9;
    --text-color: #e5e0d8;
}

html {
    font-size: 62.5%;
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
}
.container {
    max-width: 120rem;
    margin: 0 auto;
}
li {
    list-style: none;
}
.link:link {
    text-decoration: none;
}
.link-active {
    color: var(--color-primary) !important;
}
.grid {
    display: grid;
}
.grid--2--cols {
    grid-template-columns: repeat(2, 1fr);
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    /* width: 25%; */
    padding: 1.8rem 4rem;
    font-size: 1.8rem;
    border-radius: 6px;
}

/* ///////////////////////////////////////////
-----------------HERO SECTION--------------
/////////////////////////////////////////////// */
.header {
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}
.logo {
    width: 16rem;
}
.nav-links,
.nav-social-links {
    display: flex;
    gap: 4rem;
    font-size: 1.8rem;
}
.nav-link {
    color: var(--text-color);
    letter-spacing: 4px;
}
.nav-icon {
    width: 2.4rem;
    height: 2.4rem;
}
.section-hero {
    max-width: 100rem;
    margin: 0 auto;
}
.hero-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 3px;
    margin-top: 5rem;
    padding-bottom: 3rem;
}
.span-title {
    color: var(--color-primary);
}
.hero-text {
    padding-bottom: 3rem;
    font-size: 1.8rem;
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: 300;
}
.btn-contact {
    background-color: var(--color-primary);
}
